body {
    background-color: white;
}

.section-main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.choix-main {
    background-color: aliceblue;
    color: black;
    font-size: 32pt;
    text-align: center;
    align-items: center;
    display: flex;
}

#liste-choix-pokemon {
    border-radius: 5px;
}

.valider {
    background-color: green;
    color: white;
    text-align: center;
    border: 1px solid white;
    border-radius: 5px;
}

.valider-main {
    text-align: center;
}